body {
    background-color: gray;
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
}
header {
    /* background-color: rgb(158, 156, 156); */
    text-align: center;
}
h1 {
    font-size: 80px;
}

